body
  margin: 0
  font-family: 'Source Sans Pro', sans-serif
  background: #c1c1c1

button
  font-family: 'Source Sans Pro', sans-serif
  font-size: 1rem
  text-transform: uppercase
  cursor: pointer
  border-radius: 3px
  border: none

h1
  font-size: 1rem
  font-weight: 400
  margin: 0
  text-transform: uppercase
  color: #212121

img
  width: 100%

.product__price
  color: rgba(64,64,64,0.75)

.muted
  opacity: 0.5
